
:root {
 --w-color: #ffffff;
 --b-color: #000000;
--t1-color: #4fdbe4;
--t2-color: #3be5f0;
--t3-color: #29f0f7;
--t4-color: #1ff8fb;
--t5-color: #00ffff;
--t6-color: #38e3eb;
--o-color: #01424f;
--o2-color: #00d7da;
--o3-color: #8ffeff;
}

.lobby-content-top {

background: var(--b-color) !important;
border-bottom: 2px solid var(--o2-color) !important;

}

.lobby-content-top .mb-lobby-username {
color: var(--t5-color) !important;
}

#bal-text {
color: var(--w-color);
font-weight: bold;
}

.lobbyadscustom {
display: grid;
padding: 2rem;
grid-template-columns: 1fr 1fr;
background: var(--b-color);
border-radius: 0.8rem;
align-items: center;
margin-bottom: 1rem;
gap: .8rem;
box-shadow: inset 0px 0px 0px 1px var(--t2-color), inset 0px 2px 0px 0px var(--t2-color), inset 0px 0px 0px 2px var(--t3-color), 3px 3px 3px 1px rgb(0 0 0 / 20%) !important;
border: 1px solid var(--t1-color);
}

.lobbyadscustom img {
width: 100%;
border-radius: 2rem;
border: 2px solid var(--t1-color);
}

.lobbyadslink {
background: linear-gradient(325deg, var(--o-color) 0%, var(--t5-color) 30%, var(--t4-color) 40%, var(--t3-color) 60%, var(--t6-color) 90%, var(--o-color) 100%) !important;
padding: .8rem;
border-radius: 2rem;
color: var(--b-color);
text-align: center;
font-weight: bold;
margin-bottom: 1rem;
}

.lobbyadscustomlast {
background: linear-gradient(325deg, var(--o-color) 0%, var(--t5-color) 30%, var(--t4-color) 40%, var(--t3-color) 60%, var(--t6-color) 90%, var(--o-color) 100%) !important;
padding: 1.2rem;
color: var(--b-color) !important;
border-radius: 2rem;
box-shadow: inset 0px 0px 0px 1px var(--t2-color), inset 0px 2px 0px 0px var(--t2-color), inset 0px 0px 0px 2px var(--t3-color), 3px 3px 3px 1px rgb(0 0 0 / 20%) !important;
font-size: 1.4rem;
font-weight: bold;
text-align: center;
text-transform: uppercase;
}

header .header-wrapper {
background-color: var(--o-color) !important;
border-bottom: 2px solid var(--o2-color) !important;
}

header.header-after-login .header-wrapper .buttn-header-deposit, .btn-refresh-balance, a.buttonWrap.buttonlc2.button-orange, .games-btn-container .btn-games-wrapper .btn-game-hs, .betdisinibtn {

background : linear-gradient(101deg, var(--t2-color) 4%, var(--t3-color) 15%, var(--t2-color) 30%, var(--t3-color) 69%, var(--t1-color) 87%, var(--t4-color) 92%) !important;
color: var(--b-color) !important;
padding: .7rem;
border: 2px solid var(--t2-color) !important;
font-weight: bolder !important;
text-transform: uppercase !important;
box-shadow: inset 0px 0px 0px 1px var(--t2-color), inset 0px 2px 0px 0px var(--t1-color), inset 0px 0px 0px 2px var(--t3-color), 3px 3px 3px 1px rgb(0 0 0 / 20%) !important;

}

.betdisinibtn {
padding: .3rem .8rem;
border-radius: .7rem !important;
}

.sidebar-shortcuts > .buttonlc {
width: 10rem !important;
}

.sidebar-shortcuts  {
height: 60px !important;
}

.games-btn-container .btn-games-wrapper .btn-game-hs {

font-size: 1.2rem !important;
}

.button-lobby-container .button-lobby-wrapper>.button-filter-lobby, #togelall, #minigame, #semua, #slot, #carigame, .btn.btn-theme, button.btn-theme  {
background: linear-gradient(101deg, var(--t2-color) 4%, var(--t1-color) 15%, var(--t3-color) 30%, var(--t4-color) 69%, var(--t3-color) 87%, var(--t2-color) 92%) !important;
background-size: 300% 300% !important;
border: 1px solid var(--t4-color) !important;
border-radius: 18px 0px;
color: var(--b-color) !important;
font-weight: bold !important;
font-size: 1rem !important;
box-shadow: inset 0px 0px 0px 1px var(--t2-color), inset 0px 2px 0px 0px var(--t1-color), inset 0px 0px 0px 2px var(--t3-color), 3px 3px 3px 1px rgb(0 0 0 / 20%) !important;
text-transform : uppercase !important;
}

.main-content, .main, .slot-wrapper, .slot-content {
background-color: var(--o-color) !important;
}

.slot-wrapper {
padding: 1rem;
border-radius: .5rem;
display: flex;
justify-content: space-between;
align-items: center;
border: 2px solid var(--t5-color);
}

.slot-header, .title-game-child, .live-header, .border-live {
width: 100% !important;
background: var(--o-color);
margin-top: 1rem;
color: var(--w-color);
margin-bottom: 1rem;
}

.title-game-child, .live-header, .border-live, #game-elottery > .slot-header {
padding: 1rem !important;
border-radius: .9rem;
border: 2px solid var(--t5-color);
}

.border-live {
justify-content: flex-start !important;
}

.slot-wrapper > .slot-header {
margin-top: 0 !important;
margin-bottom: 0 !important;
}

.notice-c-games {
background: var(--t5-color);
color: var(--b-color);
padding: 0.8rem;
border-radius: 0.7rem;
margin-bottom: .5rem;
font-weight: bold;
text-transform: capitalize;
border: 3px solid var(--t2-color);
display: flex;
justify-content: space-between;
gap: .7rem;
align-items: center;
}

.notice-c-games i {
font-size: 1.4rem;
}

.notice-c-games p {
font-size: 1.15rem;
}

.page-header {
background: var(--o-color) !important;
}

.game-togel .lobby-game-angka-keluar, div#lobtoto>a>div.angka-keluar {
font-size: 2.8rem !important;
font-weight: bold !important;
color: var(--b-color) !important;
}

.game-wrapper .game-lobby-content .game-angka .lobby-game-angka-keluar {
background: rgba(0,0,0,0.8) !important;
border: 1px solid var(--t2-color) !important;
padding: 0.5rem;
border-radius: 0.7rem;
 font-weight: bold !important;
color: var(--t2-color) !important; 
}


.game-wrapper .game-lobby-content .game-lobby-bottom .timer-game {
color: var(--b-color) !important;
font-weight: bold !important;
}

.button-icons2.button-extra-big2.button-grey-pale > .angka-keluar {
font-size: 1.7rem !important;
font-weight: bold !important;
}

.button-icons2.button-extra-big2.button-grey-pale > .nama-pasar {
font-size: 1.2rem !important;
font-weight: bold !important;
}


.input-cari-wrapper input#cari-game {
border-radius: 50rem !important;
    text-align: center;
    border: 1px solid var(--t1-color) !important;
    background: var(--o-color);
    color: var(--w-color) !important;
}

.mb-sidenav .side-link-container>li {
background: linear-gradient(to bottom, var(--b-color) 0%, var(--o-color) 100%) !important;
}

.mb-sidenav .side-link-container>li .side-link .side-link-desc .side-link-text {
color: var(--w-color) !important;
font-weight: bold !important;
}


.mb-sidenav .sidenav-header {
background-color: var(--b-color) !important;
}

.mb-sidenav .sidenav-scroll {
padding-bottom: 1rem !important;
}

.inner-wrap, .body-mobile main {
background: var(--o-color) !important;
}

.lobbyadstitle {
font-size: 1.15rem;
margin-bottom: 1rem !important;
}

.panel-grey {
background: var(--o-color) !important;
box-shadow: inset 0 0 5px 3px var(--t2-color), inset 0 2px 0 0 #fff, inset 0 0 0 2px var(--t3-color), 3px 3px 3px 1px rgba(0,0,0,.2)!important;
text-align: center !important;
margin-bottom: 1rem !important;
}

.bank {
background-color: var(--b-color) !important;
border: 2px solid var(--t2-color) !important;
}

#deposit { 
background: var(--o-color) !important;
color: var(--w-color) !important;
font-size: 2rem !important;
padding: 1.3rem !important;
font-weight: bold !important;
}

.tab-wrapper .tablinks-deposit.active {
background-color: var(--o2-color) !important;
}

.tab-wrapper>button:last-child {
color: var(--b-color) !important;
font-weight: bold !important;
font-size: 1.6rem !important;
text-transform: uppercase !important;
}

.buttonlc {
width: 100px !important;
}

.header-logo {
width: 200px !important;
}

.peraturan-content {
color: var(--w-color) !important;
line-height: 1.6rem !important;
margin-left: 0 !important;
margin-right: 0 !important;
padding: 2rem !important;
text-align: justify !important;
}

.peraturan-content br {
margin-top: 1rem !important;
margin-bottom: 1rem !important;
}

.peraturan-button-wrapper {
margin-top: 1rem !important;
}


.mb-sidenav .sidenav-header .close-button {
color: var(--t5-color) !important;
}

.title-game-child h3 {
color: var(--w-color) !important;
}


.inner-wrap > .color-grey, .ha1 {
color: var(--w-color) !important;
}

.inner-wrap > .panel-blue {
background: linear-gradient(to bottom, var(--b-color) 0%, var(--b-color) 100%) !important;
  box-shadow: inset 0 0 5px 3px #2a2a2e,inset 0 2px 0 0 #fff,inset 0 0 0 2px #2f2f33,3px 3px 3px 1px rgba(0,0,0,0.2);
  padding: 15px;
  margin-bottom: 15px;
  color: var(--t5-color);
  border: none !important;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-bottom: 4px solid #56565a;
  border-radius: 0 !important;
}

.history {
font-size: 14px !important;
}

table.history thead, #transaction tr td {
color: var(--t5-color) !important;
}

.pagination > li > span {
background-color: var(--t5-color) !important;
color: var(--b-color) !important;
font-weight: bold !important;
}

.pagination > li:first-child > a, .pagination > li:last-child > a {
background-color: var(--t2-color) !important;
color: var(--b-color) !important;
}

.navigation-item {
background: linear-gradient(to bottom, var(--t5-color) 0%, var(--t6-color) 100%) !important;
}

.mobilemenuwrap {
background: linear-gradient(to bottom, var(--o-color) 0%, var(--b-color) 100%) !important;
box-shadow: inset 0px 0px 0px 1px var(--w-color), inset 0px 2px 0px 0px var(--t2-color), inset 0px 0px 0px 2px var(--t5-color), 3px 3px 3px 1px rgb(0 0 0 / 20%) !important;
padding: 1rem;
padding-left: 0;
display: flex;
justify-content: center;
align-items: center;
}

.button-reds {
background-color: var(--t5-color) !important;
box-shadow: inset 0 -4px 0 var(--o2-color) !important;
}

.mobilemenuwrap a {
color: var(--b-color);
width: 90%;
font-weight: bold;
padding: 0.5rem;
text-align: center;
border-radius: 10rem;
border: 0.2rem solid var(--t2-color);
background: var(--t5-color);
}

#refreshbalance {
color: var(--o2-color) !important;
font-size: 1.2rem !important;
}

body {
background-color: var(--o-color) !important;
color: var(--w-color) !important;
}


.game-wrapper .game-lobby-content .game-title {
  font-size: 1.5rem;
  word-break: break-word;
  color: var(--b-color) !important;
  overflow-wrap: break-word;
  background: var(--t5-color) !important;
  border-bottom: 1px solid var(--o2-color) !important;
  padding: 1rem;
  width: 100%;
  font-weight: bold !important;
}

.banner-promotion {
  display: none !important;
}

.effect7 {
 justify-content: start !important;

}

.game-togel a.game-lobby-content, #game-live a.game-lobby-content, div#lobtoto>a, .button-icons2.button-extra-big2.button-grey-pale {
   background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(233deg, var(--t1-color) 0%, var(--t3-color) 25%, var(--o-color) 100%);
    z-index: 1; 
    position: relative;
}

.icongamelobby {
    position: absolute;
    z-index: -1;
    width: 6.8rem;
    bottom: 2rem;
    right: 1rem;
    opacity: 0.5;
    animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
